# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
*.tsbuildinfo

# Misc
*.log
.cache/
